    header {
        height: 4rem;

        .logo {
            font-weight: 900;

            a {
                display: flex;
                justify-content: flex-start;
                align-items: center;
                color: #FF7200;
                font-size: 2.3rem;
                height: 100%;
                width: 100%;
            }
        }

        .navbar {
            display: flex;
            align-items: center;

            .nav-list {
                display: flex;
                flex-direction: row;
                align-items: center;
                width: 100%;
                height: 100%;
                background: #FF7200;
                border-radius: .5rem;
                font-weight: 300;

                .item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    width: 100%;

                    &:first-child {
                        border-radius: .4rem 0 0 .4rem;
                    }

                    &:last-child {
                        border-radius: 0 .4rem .4rem 0;
                    }

                    &:hover {
                    background: white;
                    color: #FF7200;
                    cursor: pointer;
                    transition: ease-in .05s;
                    }
                }
            }
        }
    }

@include responsive($default, $sm-size) {
    header {
        height: 7rem;

        .item {
            font-size: .8rem;
        }

        a { 
            justify-content: center !important;
            font-size: 2rem !important;
        }
    }
}

@include responsive($sm-size, $md-size) {
    .logo {
        a {
            justify-content: center !important;
        }
    }
}